.book-list {
    margin: 20px;
}
.book-list ul {
    padding: 0;
    list-style-type: none;
}
.book-list li {
    background: #28334AFF;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    border: 1;
    border-radius: 5px;
    border-color: yellow;
    border-width: 1px;
}
.book-list li:hover {
    opacity: 0.8;
    text-decoration: line-through;
    text-decoration-color: red;
}
.book-list .title {
    font-weight: bold;
    color: #FBDE44FF;
    font-size: 1.2em;
}
.book-list .author {
    font-size: 0.9em;
    color: rgb(200, 180, 60);
}
.empty {
    margin: 20px;
    text-align: center;
}
.empty .icon {
    height: 90px;
    transition: 0.25s;
}
.empty .icon:hover {
    height: 100px;
}